//fonts
$font-primary: 'Bangers', cursive;
$font-secondary: 'Marvel', sans-serif;


// color 
$black :#202020;
$trans-black: #202020d6;
$red: #bd1023;
$white: #ffffff;
$h-color: #9CC9E3;
$yellow: #D0BB57;
$txt-color: #DCE3E7;

// card size
$card-width: 330px;
$card-height: 480px;