.Banner {
   

    &-imagen {
        background-image: url('https://1.bp.blogspot.com/-y9uF6UlF5js/W-zjfImVzuI/AAAAAAAAAck/PHkvxzwTBvUkio8RIuBzg2IJjDM4NY5NQCLcBGAs/s1600/Marvel-Heroes.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 25px;
    }
    &-text {
        color:white;
        font-family: $font-primary;
        font-size: 45px;
        text-align: center;
        background: $trans-black;
        width: 100%;
    }
}