.Button{
    background-color: $black;
    color: $white;
    margin: 15px;
    font-family: $font-secondary;
    font-size: 25px;
    padding: 0 7px;
    border-radius: 10px;

    @include media-breakpoint-down(sm) {
        margin: 17px 5px;
        font-size: 20px;
        padding: 6px;
      
  }


    
    &.isActive{
    background-color: $red;
}

}

