.CardComics {
    background-color: rgba(177, 168, 168, 0.664);
    display: flex;
    align-items: center;
    margin: 12px;
    font-family: $font-secondary;
    font-size: 15px;
    width: 30%;

&-text{
    margin-left: 15px;
    cursor: pointer;
    &:hover{

        font-size: 20px;
        font-weight: bold
    }
}

}
