.Card {
    margin: 15px;

    &Overlay {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-family: $font-primary;
            font-size: 30px;
            font-weight: 700;
            cursor: pointer;

            @include media-breakpoint-down(sm) {
                font-size: 10.5px;
            }

            &:hover {
                color: red;
            }
        }

        &-text {
            margin-top: 5px;
            font-family: $font-secondary;
            font-size: 16px;
            width: 80%;
            overflow: hidden;
            height: 53px;

            @include media-breakpoint-down(sm) {
                display: none;
            }

            &:hover {
                color: red;
            }
        }

    }

    &-favorite {
        background-color: $black;
        color: $white;
        font-family: $font-secondary;
        font-size: 25px;
        padding: 1px 7px;
        border-radius: 10px;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
        }
    }

    &Body {
        width: $card-width;
        height: $card-height;
        top: 50%;
        left: 50%;
        margin: 0px 0 0 -13px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
        text-align: center;

        @include media-breakpoint-down(sm) {
            width: 106px;
            height: 158px;
        }
    }
}