.Favorite {
    &CharacterContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

&-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
&-category{
   text-align: center;

}
}