.Header {
    background-color: $black;
    display: flex;
    justify-content: space-around;
    align-items: center;


    @include media-breakpoint-down(sm) {
      flex-direction:  column; 
    }

    &-logo {
        padding: 12px;
        width: 250px;
    }

    &-user {
        width: 120px;
        height: 45px;
        background-color: $red;
        color: $white;
        font-size: 25px;
        border-radius: 5px;
        font-family: $font-primary;
        @include media-breakpoint-down(sm) {
            width: 100%;
            margin-bottom: 15px;
        }
    }
  
}