.List {
    background-color: rgba(0, 0, 0, 0.425);

    &-item {
        background-color: rgba(163, 160, 160, 0.596);
        list-style: none;
        font-family: $font-secondary;
        font-size: 18px;
        padding: 5px;
        border: 1px solid $white;
        text-align: justify;
    }
}