.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;
    background-image: url(https://www.cinemascomics.com/wp-content/uploads/2022/04/marvel-studios-wallpaper-movies-960x720.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
        height: 850px;
        background-image: url(https://www.xtrafondos.com/thumbs/vertical/1_3171.jpg);
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-input {
        margin: 15px;
        height: 46px;
        width: 500px;
        border-radius: 28px;
        padding: 12px;
        border: none;
        box-shadow: -1px 3px 8px 8px $red;

        @include media-breakpoint-down(sm) {
            width: 350px;
        }
    }

    &-title {
        text-align: center;
        color: $white;
        font-family: $font-primary;
        font-size: 65px;
        @include media-breakpoint-down(sm) {
            color: $red;
        }
    }

    &-submit {
        background-color: $black;
        color: $white;
        font-family: $font-secondary;
        font-size: 25px;
        padding: 1px 7px;
        border-radius: 10px;
        width: 50%;
    }

}