.Navbar {
    display: flex;
    @include media-breakpoint-down(sm) {
        justify-content: center;
        flex-wrap: wrap; 
      }
    &-list {
        list-style: none;
        margin: 26px;
        padding: 10px;
        background:$red;
        border-radius: 5px;
        color: $white;
        font-family: 'Bangers';
        font-size: 36px;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
           margin: 12px;
           padding: 7px;
           font-size: 18px;
          }
    }
}