.Post {
    background-color: $black;
    color: $white;
    padding-bottom: 15px;
    @include media-breakpoint-down(sm) {
        background-position: center;
    }

    &-description {
        text-align: center;
        font-family: "Marvel", sans-serif;
        font-size: 25px;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
    }

    &Header {

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-family: $font-primary;
        font-size: 25px;
        padding: 25px;
        margin-bottom: 24px;

        &-return {
            cursor: pointer;
        }
    }

    &-Container {
        margin-bottom: 25px;
    }

    &Body {

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 25px;
        padding: 15px;

       
        &-comic{
            display: flex;
            width: 100%;
            margin: 0 auto;
            max-width: 800px;
            flex-wrap: wrap;
        }

        
        &-image {
            background-size: cover;
            width: 630px;
            height: 630px;
            
            @include media-breakpoint-down(sm) {
                display: none
            }
        }
    }
    &Complements {
        display: flex;
        margin-top: 25px;
        justify-content: space-around;
        height: 300px;
        overflow-y: auto;
        max-width: 800px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
&::-webkit-scrollbar {
    display: none;
}
        &-storie {
            padding: 0 15px 0 0px;
        }
        &-list{
            width:20%;
        }
    }
}