.Search{
    margin:15px;
    height: 46px;
    width: 500px;
    border-radius: 28px;
    padding: 12px;
    border: none;
    box-shadow: -1px 3px 8px  8px $red;
    &-container{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }
}